*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
nav{
  padding: 10px 5%;
}
.navbar{
  background-color:white;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom: 5px solid #ddd;
}
.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a{
  font-size:25px;
  font-weight:400;
  color: rgb(0, 0, 255);
}
li{
  list-style:none;
  display:inline-block;
}
li a{
  color: rgb(2, 2, 16);
  font-size: 15px;
  font-weight: 300;
  margin-right:25px;
}
li a.active {
  color: #007bff;
  border-bottom: 2px solid #007bff;
  padding-bottom: 1px;
}
button{
  padding: 5px 16px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
